Name the feature of the advertised product in following messages, only name them separeted by comma if more than one.
{% for statement in action_reason %}
    - {{statement}}
{% endfor %}

Then name 1-3 objects that are the symbol of the features. Only name them separeted by comma if more than one.
Follow the format: 
Features: $features separated by comma
Objects: $objects separated by comma