Carefully consider this image. Is there a {{characterestic}} person in this image?

Only answer with yes if there is and not if there is not. Do not include any further information. Follow the following answer format:

Answer: ${yes or no}