Context: Context: You are a helpful assistant who chooses the more persuasive image. Persuasion of the advertisement image is the ability of the image to convince the audience to take an action.

Question: Given the following two advertisement descriptions, which advertisement is more persuasive? 1. description 1. 2. description 2
First, compare the persuasion of the description with each option, and then return the more persuasive description in the format of: 
Explanation : ${Explanation}
Answer: ${index of more persuasive description}

Discription 1: {{description1}}

Description 2: {{description2}}